header{
	background: url(images/2.jpg),#000040 center top no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	padding-bottom: 2px;
}

.my-navbar-inverse {
    background-color: transparent;
    border-bottom: 1px solid #ccc;
}

.my-navbar-collapse{
	margin-top: 40px;
}

#mainNave{
	margin-top:-60px;
	-webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar-brand {
    padding: 5px 110px 0 0;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: transparent;
	text-align:center;
	color: #C6C6C6;
}


@media (max-width: 768px) {
	
	#mainNave {
		margin-top: 0px;
	}
	header{
		margin-top:50px
	}
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.myclass{
	margin: 10px;
    text-align: center;
}

.navbar {
    min-height: 60px;
	border-bottom:1px solid #ddd;
}
.mynavbar {
    background-color: transparent;
    border-color: transparent;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
	margin-top:5px;
}

.mynavbar {
    position: relative;
    min-height: 50px;
    margin-top: 28px;
    border: 1px solid transparent;
	margin-left: 100px;
}

.mynavbar .navbar-nav > .active > a {
	color: #458CBF;
    background-color: transparent;
}

.mynavbar .navbar-nav > .active > a:hover, .mynavbar .navbar-nav > .active > a:focus {
    color: #142561;
    background-color: transparent;
}

.mynavbar .navbar-nav > li > a {
    color: #CCC;
    font-size: 16px;
    font-weight: 500;
}

.mynavbar .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFF;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #458CBF;
    background-color: transparent;
}

/* .btn-default {
    color: #777;
    background-color: transparent;
    border-color: #777;
} */

.login-btn {
    color: #ffffff;
    background-color: #458CBF;
    Xborder-color: #458CBF;
	border:1px solid #458CBF;
}

.myclass .btn-default:hover {
    color: #ffffff;
	background-color: #458CBF;
}

.myclass .login-btn:hover {
    color: #fff;
	border-color: #458CBF;
	background-color: transparent;
}

.head-btns {
    float: right;
    margin-top: 40px;
    margin-bottom: 10px;
	float:none;
	text-align:center;
}

.head-btns > a {
    margin-right: 10px;
}

main {
    background: #458CBF;
}

.well6 {
    padding-top: 34px;
    padding-bottom: 58px;
}

.bg-alt {
    background: #fff;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

section {
    text-align: left;
}

.center767 .row {
    margin-top: 23px;
}

.parallax {
    position: relative;
    overflow: hidden;
}
.parallax_image {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.parallax_image, .parallax_pattern {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-position: center center;
    will-change: transform;
}

.parallax_cnt {
    position: relative;
    color: #fff;
    padding-top: 34px;
    padding-bottom: 88px;
}

.txt-clr1 {
    color: #fff;
}

.text-center {
    text-align: center;
}

h2, .h2 {
    font-size: 29px;
    line-height: 1.82758621;
    color: #333333;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'PT Sans',sans-serif;
    font-weight: 400;
    margin: 0;
}

.parallax_cnt *+.row {
    margin-top: 35px;
}

.index-list {
    counter-reset: li;
}

/* .row {
    margin-left: -15px;
    margin-right: -15px;
} */

ul, ol {
    padding: 0;
    list-style: none;
    margin: 0;
}

.index-list li h5 {
    position: relative;
    padding-left: 82px;
    color: #fbbe04;
}

.index-list li h5 a:hover {
    color: #ccc;
    text-decoration: none;
}

.index-list li h5 a {
    color: #fbbe04;
    text-decoration: none;
}

h5 {
    font-weight: bold;
}

h5, .h5 {
    font-size: 15px;
    line-height: 1.46666667;
    color: #333333;
}

.index-list li * + p {
    margin-top: 31px;
}

footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #262626;
}

footer h4 {
    margin: 0 0 10px;
}

.fw-n {
    font-weight: 400;
}

h5 {
    font-weight: bold;
}

h5, .h5 {
    font-size: 15px;
    line-height: 1.46666667;
    color: #333333;
}

footer h5+ul {
    margin-top: 9px;
}

footer ul li a {
    color: #458CBF;
}

footer .navbar-brand {
    float: none;
    display: inline-block;
    color: #fff;
	width: 0%;
}

footer .container {
	text-align: center;
	color:#fff;
}

footer .rights {
    display: inline-block;
    margin-left: 5px;
    color: #fff;
}

.thumbnail .caption,.bookthumb .caption {
    padding: 9px;
    color: #333;
    float: none;
    text-align: left;
}

body {
    font-family: "Merriweather Sans",sans-serif;
    font-size: 13px;
    line-height: 1.42857;
    color: #333;
    background-color: #fff;
}

.thumbnail .caption * + .btn,.bookthumb .caption * + .btn {
    margin-top: 2px;
}

.btn-primary__mod:hover {
    background: #edb712;
    border-color: #edb712;
    color: #fff;
}


.thumbnails .caption * + .btn-primary,.bookthumb .caption * + .btn-primary {
    color: #ffffff;
    background-color: #458CBF;
    border-color: #458CBF;
}

.index-list li h5:before {
    content: counter(li, decimal-leading-zero);
    counter-increment: li;
}

.index-list li h5:before {
    position: absolute;
    width: 61px;
    height: 61px;
    line-height: 61px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    background: #fe8315;
    top: -19px;
    left: 0px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
}

.well2 {
    padding-top: 34px;
    padding-bottom: 40px;
}

.bg-alt {
    background: #fff;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.thumbnail a img, .bookthumb a img {
    display: inline-block;
    text-align: left;
}

.thumbnail .caption dl dt, .bookthumb .caption dl dt {
    float: left;
    margin-right: 10px;
    width: 55px;
    display: block;
	color: #777;
}

.bookthumb .caption dl dt {
    width: 100px;
}

.thumbnail .caption dl dd,.bookthumb .caption dl dd {
    color: #fbbe04;
    display: block;
    margin: 0;
}

.parallax_cnt .container >ul >li{
	margin: 25px 0;
}

.my-tab-content{
	border: 1px solid #ccc;
    border-top: none;
}

#myTab{
	font-weight: bold;
}

main {
	background: url(images/1.jpg),#000040 center top no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 2px;
}

#searchButton{
	color: #fff;
    background-color: #458CBF;
    border-color: #458CBF;
}

#searchButton:hover {
    color: #fff;
    background-color: #142561;
    border-color: #142561;
}

#searchButton:focus, #searchButton.focus {
    color: #fff;
    background-color: #142561;
    border-color: #142561;
}


#heading-breadcrumbs {
    text-align: center;
    background: #eee;
    padding: 40px 0;
    margin-bottom: 40px;
}

.breadcrumb {
    padding: 20px 0;
    margin-bottom: 20px;
    background-color: transparent;
    border-radius: 0;
}

.breadcrumb {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    background-color: none;
    letter-spacing: 0.08em;
    text-align: center;
}

.breadcrumb > li {
    display: inline-block;
}

#heading-breadcrumbs h1 {
    font-size: 46px;
}
breadcrumbs h1 {
    color: #333333;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0.08em;
    text-align: center;
}

#content .heading {
    margin-bottom: 40px;
}

#content .heading h1, .heading h2, .heading h3, .heading h4, .heading h5 {
    display: inline-block;
    border-bottom: solid 5px #4fbfa8;
    line-height: 1.1;
    margin-bottom: 0;
    padding-bottom: 10px;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

#content p.lead {
    margin-bottom: 40px;
}

#inactiveuser .panel {
    border: none;
}

#deluser .panel {
    border: none;
}